<h1>Holiday Form</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@holiday) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>

      <%= f.label :date %>
      <%= f.date_field :date, class: 'form-control' %>

      <%= f.label :occasion %>
      <%= f.text_field :occasion, class: 'form-control' %>

      <%= f.submit "Submit", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>