%h1 Holiday Form
.row
  .col-md-6.col-md-offset-3
    = form_for(@holiday, url: admin_oooconfig_holidays_path, method: :post) do |f|
      = render 'shared/error_messages', object: f.object
      .form-group
        = f.label :financial_year
        = f.text_field :ooo_config, value: @ooo_config.financial_year, class: 'form-control', readonly: true

      .form-group
        = f.label :date
        = f.date_field :date, class: 'form-control'
      .form-group
        = f.label :occasion
        = f.text_field :occasion, class: 'form-control'
      = f.submit "Submit", class: "btn btn-primary"


