%table#user_table.table.table-striped.table-bordered
  %thead
    %tr
      %td Name
      %td Email
      %td Employee ID
      %td Blood Group
      %td Emergency contact
      - if current_user.admin?
        %td DOB
        %td Father's Name
        %td Adhaar Number
        %td PAN Number
        %td{ colspan: "2" } Actions
  %tbody
    - passed_users.each do |user|
      %tr
        %td= user.name
        %td= user.email
        %td= user.employee_id
        %td= user.blood_group
        %td= user.emergency_contact_number
        -if current_user.admin?
          %td= user.DOB
          %td= user.fathers_name
          %td= user.adhaar_number
          %td= user.PAN_number
          %td= link_to 'Edit', edit_user_path(user)