.container
  .row
    .col-md-3
      .leaves-block.leaves-block-grey
        %h2.heading-md Total Leaves
        %p= current_user.total_leaves
    .col-md-3.col-md-offset-1
      .leaves-block.leaves-block-green
        %h2.heading-md Remaining Leaves
        %p= current_user.remaining_leaves
    .col-md-3.col-md-offset-1
      .leaves-block.leaves-block-red
        %h2.heading-md Leaves used
        %p= current_user.no_of_leaves_used
  .row
    .col-md-6
      %h1 Leave Form
      = form_for(@leave) do |f|
        = render 'shared/error_messages', object: f.object
        .row
          .col-md-6
            = f.label :start_date
            = f.date_field :start_date, id:'start_date' , class: 'form-control'
          .col-md-6
            = f.label :end_date
            = f.date_field :end_date, id:'end_date', class: 'form-control'
        .row
          .col-md-6
            = f.label :number_of_days
            = f.number_field :number_of_days,id:'days', class: 'form-control', :readonly => true
        = f.submit "Submit", class: "btn btn-primary"
    .col-md-4.col-md-offset-1
      %h1 Calendar
      #calendar
  .row
    .col-md-10.col-md-offset-1
      %h1 Leave History
  .row
    .col-md-6{:align => "left"}
      %h3 List of Leaves
  %table#leave_history.table.table-striped.table-bordered
    %thead
      %tr
        %td Start Date
        %td End Date
        %td Number of Days
        %td Edit
        %td Delete
    %tbody
      - @leaves.each do |leave|
        %tr
          %td= leave.start_date
          %td= leave.end_date
          %td= leave.number_of_days
          %td= link_to 'Edit', edit_leave_path(leave)
          %td
            = link_to 'Delete', leave, method: :delete, data: { confirm: 'Are you sure?' }
:javascript
  $(document).ready(function() {
      $('#calendar').html('');

      $('#calendar').fullCalendar({
         events: '/leaves.json'
      });
  } );

  $("#end_date").on("change",function(){
    UpdateNumberOfDays();
  });

  $("#start_date").on("change",function(){
    UpdateNumberOfDays();
  });

  function UpdateNumberOfDays() {
    var end_date = $("#end_date").val();
    var start_date = $("#start_date").val();
    if (start_date && end_date){
    $.ajax({
      type: "POST",
      url: "/number_of_days",
      data: { start_date: start_date, end_date: end_date } ,
      success: function(data){$("#days").val(data)}
    });
    }
  };



