<div class="container">
  <div class="row">
    <div class="col-md-3">
    	<div class= "leaves-block leaves-block-grey">
    		<h2 class="heading-md"> Total Leaves</h2>
    		<p><%= current_user.total_leaves %></p>
    	</div>
    </div>
    <div class="col-md-3 col-md-offset-1">
    	<div class= "leaves-block leaves-block-green">
    		<h2 class="heading-md"> Remaining Leaves</h2>
    		<p><%= current_user.remaining_leaves %></p>
    	</div>
    </div>
    <div class="col-md-3 col-md-offset-1">
    	<div class= "leaves-block leaves-block-red">
    		<h2 class="heading-md"> Leaves used</h2>
    		<p><%= current_user.total_leaves-current_user.remaining_leaves %></p>
    	</div>
    </div>
  </div>

  
  <div class="row">
  <div class="col-md-6">
   
      <h1>Leave Form</h1>
    
    <%= form_for(@leave) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>

      <%= f.label :leave_start_from %>
      <%= f.date_field :leave_start_from, class: 'form-control' %>

      <%= f.label :leave_end_at %>
      <%= f.date_field :leave_end_at, class: 'form-control' %>

      <%= f.label :number_of_half_days %>
      <%= f.number_field :number_of_half_days, class: 'form-control' %>

      <%= f.label :reason %>
      <%= f.text_field :reason, class: 'form-control' %>

      <%= f.submit "Submit", class: "btn btn-primary" %>
    <% end %>
  </div>

  <div class="col-md-4 col-md-offset-1">
  <h1>Calendar</h1>
  <div id="calendar"></div>
  </div>
</div>

<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <h1>Leave History</h1>
  </div>
</div>
   <div class="row">
<div class="col-md-6" align="left" ><h3>List of Users</h3></div></div>
<table id="leave_history" class="table table-striped table-bordered">
  <thead>
    <tr>
      <td>Start Date</td>
      <td>End Date</td>
      <td>Number of Days</td>
      <td>Edit</td>
      <td>Delete</td>
    </tr>
  </thead>

  <tbody>
    <% @leaves.each do |leave| %>
      <tr>
        <td><%= leave.leave_start_from %></td>
        <td><%= leave.leave_end_at %></td>
        <td><%= leave.number_of_days %></td>
        <td><%= link_to 'Edit', edit_leave_path(leave) %></td>
        <td>
          <%= link_to 'Destroy', leave, method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>



<script>
$(document).ready(function() {
    $('#calendar').fullCalendar({
       events: '/leaves.json'
    });
} );
</script>



