.row
  .row
    .col-md-9
      %h1 #{@user.name}'s Calendar
      #calendar
    .col-md-3
      %h1 Apply OOO
      = render 'shared/ooo_period_form', url: admin_user_oooperiods_path(@user), method: :post
      .row
        %table#user_leaves.table.table-striped.table-bordered
          %h2 Leave Stats
          %tbody
            %tr
              %td Total Leaves
              %td= @user.total_leaves
            %tr
              %td Remaining Leaves
              %td= @user.remaining_leaves
            %tr
              %td Leaves used
              %td= @user.no_of_leaves_used
      .row
        %table#user_wfhs.table.table-striped.table-bordered
          %h2 WFH Stats
          %tbody
            %tr
              %td Total WFH
              %td= @user.total_wfhs
            %tr
              %td Remaining WFH
              %td= @user.remaining_wfhs
            %tr
              %td WFH used
              %td= @user.no_of_wfhs_used


  .row
    .col-md-10.col-md-offset-1
      %h1 Leave History
  %table#leave_history.table.table-striped.table-bordered
    %thead
      %tr
        %td Start Date
        %td End Date
        %td Number of Days
        %td Edit
        %td Delete
    %tbody
      - @leaves.each do |leave|
        %tr
          %td= leave.start_date
          %td= leave.end_date
          %td= leave.number_of_days
          %td= link_to 'Edit', edit_admin_user_oooperiod_path(leave.user, leave)
          %td
            = link_to 'Delete', admin_user_oooperiod_path(leave.user, leave), method: :delete, data: { confirm: 'Are you sure?' }

  .row
    .col-md-10.col-md-offset-1
      %h1 WFH History
  %table#wfh_history.table.table-striped.table-bordered
    %thead
      %tr
        %td Start Date
        %td End Date
        %td Number of Days
        %td Edit
        %td Delete
    %tbody
      - @wfhs.each do |wfh|
        %tr
          %td= wfh.start_date
          %td= wfh.end_date
          %td= wfh.number_of_days
          %td= link_to 'Edit', edit_admin_user_oooperiod_path(wfh.user, wfh)
          %td
            = link_to 'Delete',admin_user_oooperiod_path(wfh.user, wfh), method: :delete, data: { confirm: 'Are you sure?' }


:javascript
  $(document).ready(function() {
    var a = #{@leaves.to_json}
    var ds = [];
    for (var i=0;i<a.length;i++){
      var parts =a[i].start_date.split('-');
      var en = a[i].end_date.split('-');
      var obj = {
        startDate: new Date(parts[0],parts[1]-1,parts[2]),
        endDate: new Date(en[0],en[1]-1,en[2]),
        color: 'red'
      }
      ds.push(obj)
    }
    var wfhs = #{@wfhs.to_json}
    for (var i=0;i<wfhs.length;i++){
      var parts =wfhs[i].start_date.split('-');
      var en = wfhs[i].end_date.split('-');
      var obj = {
        startDate: new Date(parts[0],parts[1]-1,parts[2]),
        endDate: new Date(en[0],en[1]-1,en[2]),
         color: 'green'
      }
      ds.push(obj)
    }

    $('#calendar').calendar({
      dataSource: ds
    });

  } );

