.row
  .row
    .col-md-9
      %h1 #{@user.name}'s Calendar
      #calendar
    .col-md-3
      %h1 Apply OOO
      = render 'shared/ooo_period_form', url: admin_user_oooperiods_path(@user), method: :post
      .row
        %table#user_leaves.table.table-striped.table-bordered
          %h3 Leave Stats (#{@current_financial_year})
          %tbody
            %tr
              %td Total Leaves
              %td= @ooo_periods_info.total_leaves
            %tr
              %td Remaining Leaves
              %td= @ooo_periods_info.remaining_leaves
            %tr
              %td Leaves used
              %td= @ooo_periods_info.total_leaves - @ooo_periods_info.remaining_leaves
      .row
        %table#user_wfhs.table.table-striped.table-bordered
          %h3 WFH Stats (#{@current_quarter})
          %tbody
            %tr
              %td Total WFH
              %td= @ooo_periods_info.total_wfhs["#{@current_quarter}"]
            %tr
              %td Remaining WFH
              %td= @ooo_periods_info.remaining_wfhs["#{@current_quarter}"].to_i
            %tr
              %td WFH used
              %td= @ooo_periods_info.total_wfhs["#{@current_quarter}"] - @ooo_periods_info.remaining_wfhs["#{@current_quarter}"].to_i


  .row
    .col-md-10.col-md-offset-1
      %h1 Leave History
  %table#leave_history.table.table-striped.table-bordered
    %thead
      %tr
        %td Start Date
        %td End Date
        %td Number of Days
        %td Edit
        %td Delete
    %tbody
      - @leaves.each do |leave|
        %tr
          %td= leave.start_date
          %td= leave.end_date
          %td= leave.number_of_days
          %td= link_to 'Edit', edit_admin_user_oooperiod_path(leave.user, leave)
          %td
            = link_to 'Delete', admin_user_oooperiod_path(leave.user, leave), method: :delete, data: { confirm: 'Are you sure?' }

  .row
    .col-md-10.col-md-offset-1
      %h1 WFH History
  %table#wfh_history.table.table-striped.table-bordereddata
    %thead
      %tr
        %td Start Date
        %td End Date
        %td Number of Days
        %td Edit
        %td Delete
    %tbody
      - @wfhs.each do |wfh|
        %tr
          %td= wfh.start_date
          %td= wfh.end_date
          %td= wfh.number_of_days
          %td= link_to 'Edit', edit_admin_user_oooperiod_path(wfh.user, wfh)
          %td
            = link_to 'Delete',admin_user_oooperiod_path(wfh.user, wfh), method: :delete, data: { confirm: 'Are you sure?' }


:javascript
  $(document).ready(function() {
    var leaves = #{@leaves.to_json}
    var data = [];
    for (var i=0;i<leaves.length;i++){
      //var start_date =leaves[i].start_date.split('-');
      var end_date = leaves[i].end_date.split('-');
      var obj = {
        //startDate: new Date(start_date[0],start_date[1]-1,start_date[2]),
        startDate: moment(leaves[i].start_date),
        endDate: new Date(end_date[0],end_date[1]-1,end_date[2]),
        color: 'red'
      }
      data.push(obj)
    }
    var wfhs = #{@wfhs.to_json}
    for (var i=0;i<wfhs.length;i++){
      var start_date =wfhs[i].start_date.split('-');
      var end_date = wfhs[i].end_date.split('-');
      var obj = {
        startDate: new Date(start_date[0],start_date[1]-1,start_date[2]),
        endDate: new Date(end_date[0],end_date[1]-1,end_date[2]),
         color: 'green'
      }
      data.push(obj)
    }

    $('#calendar').calendar({
      dataSource: data,
      customDayRenderer: function(element, date) {
        if(date.toDateString()  == new Date().toDateString() ) {
          $(element).css('background-color', 'skyblue');
          $(element).css('color', 'white');
          $(element).css('border-radius', '15px');
        }
      }
    });

  } );

