.row
  .col-md-6.col-md-offset-3
    = form_for(@user) do |f|
      = f.label :name
      = f.text_field :name, class: 'form-control', :readonly => true

  .row
    .col-md-10.col-md-offset-1
      %h1 Leave History
  .row
    .col-md-6{:align => "left"}
      %h3 List of Leaves
  %table#leave_history.table.table-striped.table-bordered
    %thead
      %tr
        %td Start Date
        %td End Date
        %td Number of Days
        %td Edit
        %td Delete
    %tbody
      - @leaves.each do |leave|
        %tr
          %td= leave.start_date
          %td= leave.end_date
          %td= leave.number_of_days
          %td= link_to 'Edit', edit_admin_user_oooperiod_path(leave.user,leave)
          %td
            = link_to 'Delete', leave, method: :delete, data: { confirm: 'Are you sure?' }
