.row
  .col-md-9
    .alert.alert-info WFH should be applied 1 day in advance to avoid penalty of 1 WFH.
    #calendar
  .col-md-3
    .row
      %h1 Apply OOO
      = render 'shared/ooo_period_form', url: oooperiods_path, method: :post
    .row
      %table#user_leaves.table.table-striped.table-bordered
        %h3 Leave Stats (#{@financial_year})
        %tbody
          %tr
            %td Total Leaves
            %td= current_user.total_leaves_count(@financial_year)
          %tr
            %td Remaining Leaves
            %td= current_user.remaining_leaves_count(@financial_year, nil)
          %tr
            %td Leaves used
            %td= current_user.leaves_used_count(@financial_year)
    .row
      %table#user_wfhs.table.table-striped.table-bordered
        %h3 WFH Stats (Q#{@current_quarter})
        %tbody
          %tr
            %td Total WFHs
            %td= current_user.total_wfhs_count(@financial_year, @current_quarter)
          %tr
            %td Remaining WFHs
            %td= current_user.remaining_wfhs_count(@financial_year, @current_quarter, nil)
          %tr
            %td WFHs used
            %td= current_user.wfhs_used_count(@financial_year, @current_quarter)



.row
  %h1 Up coming Leaves
%table#leave_history.table.table-striped.table-bordered
  %thead
    %tr
      %td Start Date
      %td End Date
      %td Number of Days
      %td Edit
      %td Delete
  %tbody
    - @editable_leaves.each do |leave|
      %tr
        %td= leave.start_date
        %td= leave.end_date
        %td= OOOPeriod.business_days_count_between(leave.start_date, leave.end_date)
        %td= link_to 'Edit', edit_oooperiod_path(leave)
        %td
          = link_to 'Delete',oooperiod_path(leave), method: :delete, data: { confirm: 'Are you sure?' }

.row
  %h1 Up coming WFHs
%table#wfh_history.table.table-striped.table-bordered
  %thead
    %tr
      %td Start Date
      %td End Date
      %td Number of Days
      %td Edit
      %td Delete
  %tbody
    - @editable_wfhs.each do |wfh|
      %tr
        %td= wfh.start_date
        %td= wfh.end_date
        %td= Wfh.days_count_between(wfh.start_date, wfh.end_date, wfh.updated_at)
        %td= link_to 'Edit', edit_oooperiod_path(wfh)
        %td
          = link_to 'Delete',oooperiod_path(wfh), method: :delete, data: { confirm: 'Are you sure?' }

:javascript
  $(document).ready(function() {
    var leaves = #{@total_leaves.to_json}
    var data = [];
    for (var i=0;i<leaves.length;i++){
      var start_date = moment(leaves[i].start_date);
      var end_date = moment(leaves[i].end_date);
      var currentDate = moment(start_date);
      var stopDate = moment(end_date);
      var dateArray = new Array();
      while (currentDate <= stopDate) {
        if (currentDate.day() % 6 != 0) {
          dateArray.push( moment(currentDate) )
        }
        currentDate = moment(currentDate).add(1, 'days');
      }
      for (j = 0; j < dateArray.length; j++) {
        var obj = {
          startDate: dateArray[j],
          endDate: dateArray[j],
          color: 'red'
        }
        data.push(obj)
      }
    }
    var wfhs = #{@total_wfhs.to_json}
    for (var i=0;i<wfhs.length;i++){
      var start_date = moment(wfhs[i].start_date);
      var end_date = moment(wfhs[i].end_date);
      var currentDate = moment(start_date);
      var stopDate = moment(end_date);
      var dateArray = new Array();
      while (currentDate <= stopDate) {
        if (currentDate.day() % 6 != 0) {
          dateArray.push( moment(currentDate) )
        }
        currentDate = moment(currentDate).add(1, 'days');
      }
      for (j = 0; j < dateArray.length; j++) {
        var obj = {
          startDate: dateArray[j],
          endDate: dateArray[j],
          color: 'green'
        }
        data.push(obj)
      }
    }

    $('#calendar').calendar({
      dataSource: data,
      customDayRenderer: function(element, date) {
        if(date.toDateString()  == new Date().toDateString() ) {
          $(element).css('background-color', 'skyblue');
          $(element).css('color', 'white');
          $(element).css('border-radius', '15px');
        }
      }
    });

  } );






