.row
  .col-md-9
    %h1 Calendar
    #calendar
  .col-md-3
    .row
      %h1 Apply OOO
      = render 'shared/ooo_period_form', url: oooperiods_path, method: :post
    .row
      %table#user_leaves.table.table-striped.table-bordered
        %h3 Leave Stats (#{@financial_year})
        %tbody
          %tr
            %td Total Leaves
            %td= @ooo_periods_info.total_leaves
          %tr
            %td Remaining Leaves
            %td= @ooo_periods_info.remaining_leaves
          %tr
            %td Leaves used
            %td= @ooo_periods_info.total_leaves - @ooo_periods_info.remaining_leaves
    .row
      %table#user_wfhs.table.table-striped.table-bordered
        %h3 WFH Stats (#{@current_quarter})
        %tbody
          %tr
            %td Total WFHs
            %td= @ooo_periods_info.total_wfhs["#{@current_quarter}"]
          %tr
            %td Remaining WFHs
            %td= @ooo_periods_info.remaining_wfhs["#{@current_quarter}"].to_i
          %tr
            %td WFHs used
            %td= @ooo_periods_info.total_wfhs["#{@current_quarter}"] - @ooo_periods_info.remaining_wfhs["#{@current_quarter}"]



.row
  %h1 List of up coming Leaves
%table#leave_history.table.table-striped.table-bordered
  %thead
    %tr
      %td Start Date
      %td End Date
      %td Number of Days
      %td Edit
      %td Delete
  %tbody
    - @editable_leaves.each do |leave|
      %tr
        %td= leave.start_date
        %td= leave.end_date
        %td= leave.number_of_days
        %td= link_to 'Edit', edit_oooperiod_path(leave)
        %td
          = link_to 'Delete',oooperiod_path(leave), method: :delete, data: { confirm: 'Are you sure?' }

.row
  %h1 List of up coming WFHs
%table#wfh_history.table.table-striped.table-bordered
  %thead
    %tr
      %td Start Date
      %td End Date
      %td Number of Days
      %td Edit
      %td Delete
  %tbody
    - @editable_wfhs.each do |wfh|
      %tr
        %td= wfh.start_date
        %td= wfh.end_date
        %td= wfh.number_of_days
        %td= link_to 'Edit', edit_oooperiod_path(wfh)
        %td
          = link_to 'Delete',oooperiod_path(wfh), method: :delete, data: { confirm: 'Are you sure?' }

:javascript
  $(document).ready(function() {
    var leaves = #{@total_leaves.to_json}
    var data = [];
    for (var i=0;i<leaves.length;i++){
      var start_date = moment(leaves[i].start_date);
      var end_date = moment(leaves[i].end_date);
      var currentDate = moment(start_date);
      var stopDate = moment(end_date);
      var dateArray = new Array();
      while (currentDate <= stopDate) {
        if (currentDate.day() % 6 != 0) {
          dateArray.push( moment(currentDate) )
        }
        currentDate = moment(currentDate).add(1, 'days');
      }
      for (j = 0; j < dateArray.length; j++) {
        var obj = {
          startDate: dateArray[j],
          endDate: dateArray[j],
          color: 'red'
        }
        data.push(obj)
      }
    }
    var wfhs = #{@total_wfhs.to_json}
    for (var i=0;i<wfhs.length;i++){
      var start_date =wfhs[i].start_date.split('-');
      var end_date = wfhs[i].end_date.split('-');
      var obj = {
        startDate: new Date(start_date[0],start_date[1]-1,start_date[2]),
        endDate: new Date(end_date[0],end_date[1]-1,end_date[2]),
         color: 'green'
      }
      data.push(obj)
    }

    $('#calendar').calendar({
      dataSource: data,
      customDayRenderer: function(element, date) {
        if(date.toDateString()  == new Date().toDateString() ) {
          $(element).css('background-color', 'skyblue');
          $(element).css('color', 'white');
          $(element).css('border-radius', '15px');
        }
      }
    });

  } );






