%body
  %header.navbar.navbar-fixed-top.navbar-inverse
    .container
      = link_to "PTO", root_path, id: "logo"
      %nav
        %ul.nav.navbar-nav.navbar-right
          - if signed_in?
            %li= link_to "View By Date", bydate_oooperiods_path
            %li= link_to "Home", oooperiods_path
            %li= link_to "All Users", users_path
            - if current_user.admin?
              %li= link_to "Admin", admin_users_path
            %li.dropdown
              %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
                %strong= current_user.name
                %b.caret
              %ul.dropdown-menu
                %li= link_to "Profile", current_user
                %li.divider
                %li
                  = link_to "Log out", signout_path, method: "delete"
              %li
                %p#time
:javascript
  (function () {
    function startTime() {
      var today = new Date();
      var to_time = today.toLocaleTimeString();
      document.getElementById('time').innerHTML = to_time;
      t = setTimeout(function () {
            startTime()
          }, 500);
     }
     startTime();
  })();
